# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Test and coverage artifacts
.pytest_cache/
.coverage
htmlcov/

# Virtualenv
.venv/
venv/

# Packaging artifacts
*.egg-info/
*.egg-info
.eggs/
*.egg
build/
dist/
pip-wheel-metadata/
